body {
    background-color: #AA7D39;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1% 5%;
    line-height: 150%;
}
h1 {
    margin: 1,5em 1em;
}
.navigointipalkki ul{
    list-style-type: none;
    background-color: #ffddaa;
    overflow: hidden;
}
.navigointipalkki li {
    float: left;
}
.navigointipalkki a {
    color: white;
    padding: 0 40px;
    text-decoration: none;
}
.navigointipalkki a:hover {
    background-color: #19171E;
}
.video {
    width: 512px;
    height: 288px;
    float: left;
    position: relative;
    padding: 0px;
    margin: 20px;
}
.vieraskirja {
    text-align: center;
}